{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
{% include "HeadBlock.html" %}
<body>
{% include "NavBlock.html" %}
{%  if current_user.ugroup=='Admin' or current_user.ugroup=='Superadmin'%}
     <div class="alert alert-dismissible alert-light">
     <h4 class="alert-heading">Панель Администратора: </h4>
  <p class="mb-0"> Пользователь: {{current_user.username }} </p>
  <p class="mb-0"> ФИО: {{ current_user.firstname +' ' + current_user.lastname }} </p>
  <p class="mb-1">Группа: {{ current_user.ugroup }}</p>

     <p class="mb-1">Панель инструментов:</p>
         <p></p>
         <form>
              <a href="/testchange"> <button  class="btn btn-success" type="button">Создать тест</button></a>
             <a href="/file_upload"> <button  class="btn btn-success" type="button">Загрузить файл</button></a>
             <a href="/addadmin"> <button  class="btn btn-success" type="button">Добавить администратора</button></a>
             <a href="/creategroup"> <button  class="btn btn-success" type="button">Добавить группу</button></a>
        </form>
    </div>



    <div class="alert alert-dismissible alert-light">
            <h4 class="alert-heading">Список тестов: </h4>
    </div>

    <table class="table table-hover">
            <thead>
    <tr>
      <th scope="col">Группа</th>
      <th scope="col">Тест</th>
      <th scope="col">Управление</th>
      <th scope="col">Результаты</th>

    </tr>
  </thead>
    <tbody>

{% for group in grouplist %}
    <form action="/admin" method="post">
    <tr class="table-active">
      <th scope="row" >{{ group[1] }}</th>
      <th scope="row">

                        <select class="form-control" name="test">
                        <option value="">Выбрать тест</option>
                        {% for test in testlist %}
                        <option value="{{ [group[1],test[0]] }}">{{ test[1] }} </option>
                        {% endfor %}
                        </select>

      </th>
        <th scope="row">
        {% if status[loop.index0][2] == "Active" %}
           <button  class="btn btn-danger" type="submit" formmethod="post">Остановить</button>
        {% elif status[loop.index0][2]== "Stop" %}
            <button  class="btn btn-success" type="submit" formmethod="post">Запустить</button>
        {% endif %}
     </th>
    <th scope="row"><a href="">Результаты</a> </th>
        </tr>
     </form>


    {% endfor %}
      </tbody>
</table>

{% endif %}
</body>
</html>
