<!DOCTYPE html>
<html lang="en">
{% include "HeadBlock.html" %}
<body>
{% include "NavBlock.html" %}

        <div class="col-8 mx-auto  ">
    <div class="glcontent">
   <div class="jumbotron">
  <h1 >Система тестирования King's Town</h1>
<p class="text-primary">Создавайте тесты, запускайте тестирование и получайте объективную оценку знаний тестируемых. </p>
<p><i class="fas fa-file-import fa-2x" ><strong>  Добавьте тесты. </strong></i></p>
<p class="text-muted">Создайте или загрузите тест из файла.</p>
<p><i class="fas fa-file-alt fa-2x" ><strong>  Проводите тестирование </strong></i></p>
<p class="text-muted">Проведите оценку знаний в на месте или из дома.</p>
<p><i class="fas fa-poll fa-2x" ><strong>  Узнайте результаты </strong></i></p>
<p class="text-muted">Получите готовые отчеты и найдите пробелы в знаниях тестируемых.</p>
       <hr class="my-4">

       <p>Создали: Сметанкин М.М. и Николин Р.Э. </p>
</div>


        </div>
</div>
</body>
</html>